* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

div#root {
    height: 100%;
}

nav {
    padding: 10px 200px;
    height: 10%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
}

main {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav a {
    margin: 10px 40px;
    padding: 10px;
    background-color: antiquewhite;
}

h1 {
    margin: 10px;
}

form div {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 100px;
    width: 400px;
    margin: 30px;
}

input {
    padding: 12px;
    margin: 20px;
    outline: none;
    width: 300px;
    font-size: 14px;
}

button[type="submit"] {
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    width: 300px;
    cursor: pointer;
}
